*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #666666;
}

section{
    width: 85%;
    margin: 50px auto;
}

section h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
}

/* menu */
ul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 4px solid white;
}
ul li{
    padding: .5rem 2rem;
    background-color: white;
    margin: 1rem 1rem 0;
    border-radius: 15px 15px 0 0;
    font-weight: 500;
    font-size: 1.09rem;
}
/* menu activo */
ul li.active{
    background-color: #666666;
    color: rgb(255, 255, 255);

    border: .19rem solid white;
    border-bottom: 2px solid white;
    
    font-weight: 600;
}

.productos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 20px; */
    margin: auto;

}
.productos img{
    width: 260px;
    height: 160px;
    margin: 20px;
    border-radius: 20px;
    object-fit: center;
    box-shadow: 5px 5px 25px rgb(77, 75, 75);
}
